.edit-view {
  width: 100%;
  &__inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 20px;
    flex: 1 1 auto;
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__datepicker {
    font-size: 30px;
  }
  &__field {
    font-size: $font-size * 1.1;
    padding: 15px;
    position: relative;
  }
  &__title {
    margin-left: 10px;
  }
  &__label {
    display: flex;
    align-items: center;
    width: fit-content;
  }
  &__button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size;
    width: 300px;
    padding: 10px;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
  }
  &__error {
    position: absolute;
    color: red;
    font-size: $font-size * 0.8;
    margin-top: 74px;
  }
}
select {
  width: 221px;
}
